{{#each posts as |post| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <!-- Pass needed_funding value to the helper function -->

    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.description}}
    </p>
  </div>
</div>
<div class="row mb-4 post">
  <a class="btn btn-primary" href="/post" role="button">Comment</a>
</div>
{{/each}}

<section id="Mapbox_Ghostmap">
  {{! space to add map}}
  


</section>
<script>
    var mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');

    mapboxgl.accessToken = 'pk.eyJ1IjoidGdvbGQxIiwiYSI6ImNsaDdzejVzNjAxdGYzam13MGkzOXpmdmsifQ.mTffg5HogZ3NwE5ibJzpIg';
    var map = new mapboxgl.Map({
      container: 'Mapbox_Ghostmap',
      style: 'mapbox://styles/mapbox/streets-v11'
    });
  </script>
<p>HELLO WORLD</p>