{{#each post }}
{{log this}}
<div class="row mb-4 post">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{this.id}}">{{this.title}}</a>
    </h2>
   
    <p>Created by {{this.user.user_name}} on {{ format_date this.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{this.description}}
    </p>
  </div>
</div>
<div class="row mb-4 post">
  <a class="btn btn-primary" href="/post" role="button">Comment</a>
</div>
{{/each}}

<section>
  {{! space to add map}}
</section>
<p>HELLO WORLD</p>